table, td, th {    
  border-collapse: collapse;
  margin: 5px; 
  border: 2px gray solid;

  /* 表示位置 */
  text-align: center;
  vertical-align: middle;
}

table {
  margin: auto;
  width: 90%;
}

table td, table th {
  height: 40px;
  align-items: center;
}

.infotable input {  
  width: 95%;
  height: 30px;
  font-size: 20px;
}

.inputdates {
  height: 30px;
}