.workHeader{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 50px;
}

.flexrow {
  flex-direction: row;
}

.itemTitle {
  /* display: block; : pタグのデフォルト設定*/
  text-align: left;
  background-color: yellowgreen;
}

.subTitle {
  /* display: block; : pタグのデフォルト設定*/
  padding-left: 20px;
  text-align: left;
}

.workitem{
  text-align: left;
  width: 210px;
}